body{
    display: flex;
    justify-content: center;

    min-height: 100vh;
    background: #e298af;
    background-size: cover;
    background-position: center;
}
.survey-name-container {
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    background: white;
    border-radius: 10px;
}
.survey-name {
    border: none;
    border-bottom: 1px solid #414141;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.answer_f {
    width: 300px;
    border: none;
    border-bottom: 1px solid #414141;
}
.add-question-button,
.save-button {
    margin: 0 10px;
}
.question-container {
    border: 1px solid #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    background: white;
    border-radius: 10px;
}
.question_title {
    height: 50px;
    width: 300px;
    resize: none;

}
.question-title input::placeholder {
    color: black;
    .question-title {
        word-wrap: break-word;
        overflow: auto;
        white-space: normal;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;

    }
    .answer-container {
        border: 1px solid #ffffff;
        padding: 10px;
        margin-top: 10px;

    }

    .save-button-container {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        background-color: #f5f5f5;
    }}